.formulaire_editer_votation .titre {}
.formulaire_editer_votation fieldset { padding:1em 1em;}
.formulaire_editer_votation legend { font-size: 1.1em;border-bottom:2px #CCC solid;margin-bottom:0;}
.formulaire_editer_votation fieldset>p.explication { font-size: 0.9em;padding:0.5em 0.5em 1em 0.5em;}

.formulaire_editer_votation div.editer { font-size: 0.9em;margin:0 2em 2em 2em; }
.formulaire_editer_votation div.editer >label { font-weight: bold;}
.formulaire_editer_votation div.editer .explication { font-size: 0.9em}
.formulaire_editer_votation p.boutons{ padding:1em 3em;}
.formulaire_editer_votation .saisie_checkbox > label{ display: inline-block; width: 100%;}
.formulaire_editer_votation .saisie_checkbox .choix{ display: inline-block; width: 32%;}
.formulaire_editer_votation .saisie_checkbox .choix > label{  width: auto;}
.formulaire_editer_votation .erreur_message {display: inline-block; width: 100%;margin:0.5em;}


.liste_des_votation{}
.liste_des_votation .titre{
    font-size: 1.1em; font-weight: bold;
}

.liste_des_proc{
    clear:right;margin-top:0.5em; }
.liste_des_proc .titre{
        border-bottom: 1px #999 solid;margin-bottom: 0.5em;color:#777;
    }


#votation_resultat{
    padding: 0.5em 1em;
}
#votation_resultat .box-title{ font-size:1.2em;font-weight: bold;margin-bottom: 1em;}
#votation_resultat  .py-5{ margin-bottom: 2em;}

@media(max-width: 1200px) {
    .formulaire_editer_votation .saisie_checkbox .choix{  width: 48%;}
}


@media(max-width: 680px) {
    .formulaire_editer_votation .saisie_checkbox .choix{  width: 100%;}
}



