[(#CACHE{0})]
<B_votation>
	<div class="liste_des_votation">
	<h4 class="h4">Liste des votations en cours</h4>

		<BOUCLE_votation(POUR){tableau #ENV{liste_votation}}>
	<div class="row mt-2 mb-5">
			<div class="col-md-4 col-lg-6 mb-2">
				<div class="titre">[(#VALEUR|table_valeur{'nom'})]</div>
				[(#VALEUR|table_valeur{'date'})]

			</div>
			<div class="col-md-8 col-lg-6">
				<div class="row mb-2">
					<div class="col-lg-6">
						[(#SET{titulaire,#VALEUR|table_valeur{'titulaire'}})]
						[(#GET{titulaire}|non)
							[(#VALEUR|table_valeur{'titulaire_nom'})] est votre représentant auprès de l'association. C'est uniquement à partir de son espace adhérent que votre vote peut être exprimer.
						]
						[(#GET{titulaire}|oui)
						[(#SET{peut_participer,#VALEUR|table_valeur{'peut_participer'}})]
						[(#GET{peut_participer}|oui)
						[(#SET{procuration_don,#VALEUR|table_valeur{'procuration_don'}})]
					</div>
					<div class="col-lg-6 text-right">
						[(#GET{procuration_don}|oui)
						Vous avez donné procuration à
						[(#GET{procuration_don}|table_valeur{'nom'})]
						]
						[(#GET{procuration_don}|non)
						[(#SET{sest_prononce,#VALEUR|table_valeur{'sest_prononce'}})]
						[(#GET{sest_prononce}|non)
						<a href="[(#URL_PAGE{'voter',id_votation=#CLE})]" class="btn btn-primary" role="button">Voter</a>]
						[(#GET{sest_prononce}|oui)
						<span class="badge badge-success">Vote enregistré</span>
						<a href="[(#URL_PAGE{'voter',id_votation=#CLE})]" class="btn btn-primary" role="button">Modifier mon vote</a>]
						]
						]
					</div>
					[(#GET{peut_participer}|non) Vous ne pouvez prendre part à cette votation, il vous faut au préalable <a href="#URL_PAGE{renouveler_cotisation}">régler votre cotisation.</a>]
				</div>
				<div class="clearfix"></div>
				[(#SET{procuration_recu,#VALEUR|table_valeur{'procuration_recu'}})]

				[(#GET{procuration_recu}|oui)
				[(#INCLURE{fond=inclure/adh_votation_procuration}{liste_proc=#GET{procuration_recu}}{id_votation=#CLE})]

				]]

			</div>
		</div>
		</BOUCLE_votation>
	</div>
</B_votation>
Aucune votation
<//B_votation>








