[(#CACHE{0})]
[(#SET{liste_entite,#LISTE_ENTITE})]
<BOUCLE_entite_votation(POUR){tableau #GET{liste_entite}}>
    [(#LISTE_VOTATION{#VALEUR|table_valeur{id_entite}})]
    <div>
        [(#CONFIG{simplvote/bouton_rafraichir}|oui)
        <a href="[(#URL_PAGE{espace_adherent,bloc=votation})]" class="btn--primary"><i class="fa fa-refresh"></i> Rafraichir la page</a>
        ]
    </div>
[(#LISTE_VOTATION_HISTO{#CLE})]
</BOUCLE_entite_votation>