[(#CACHE{60})]
<B_votation>
	<hr/>
	<h4 class="h4">Historique des votations</h4>

		<BOUCLE_votation(POUR){tableau #ENV{liste_votation}}>
		<div class="row mb-2">
			<div class="col-lg-6">
				[(#VALEUR|table_valeur{'nom'})]
			</div>
			<div class="col-lg-6 text-right">

				[<a href="(#URL_PAGE{votation_resultat,id_votation=#CLE})" class='mediabox boxWidth-750px '>Voir le résultat</a>]
				</div>
				</div>

		</BOUCLE_votation>

</B_votation>



