[(#CACHE{0})]
<B_proc>
<div class="liste_des_proc clearfix">
	<div class="titre">
		Liste des procurations
	</div>
	<BOUCLE_proc(POUR){tableau #ENV{liste_proc}}>
		[(#SET{sest_prononce,#VALEUR|table_valeur{'sest_prononce'}})]
<div class="row mb-2">
	<div class="col-lg-6 mb-3">
	[(#VALEUR|table_valeur{nom})]
	</div>
	<div class="col-lg-6 text-right">
		[(#GET{sest_prononce}|non)
		<a href="[(#URL_PAGE{'voter',id_proc=#VALEUR|table_valeur{id}})]&id_votation=#ENV{id_votation}" class="btn btn-primary" role="button">Voter</a>]
		[(#GET{sest_prononce}|oui) <div class="badge badge-success">Vote enregistré</div>
		<a href="[(#URL_PAGE{'voter',id_proc=#VALEUR|table_valeur{id}})]&id_votation=#ENV{id_votation}" class="btn btn-primary" role="button">Modifier mon vote</a>
		]
	</div>
</div>
	</BOUCLE_proc>
</div>

</B_proc>