<div class='formulaire_spip formulaire_configurer formulaire_configurer_forums_contenu' id='formulaire_configurer_forums_contenu'>
<h3 class='titrem'><:simplvote:simplvote:></h3>

[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

<form action="#SELF" method="post">
	#ACTION_FORMULAIRE{#ENV{action}}
	[<p class='formulaire_ok'>(#ENV*{message_ok})</p>]
	[<p class='formulaire_erreur'>(#ENV*{message_erreur})</p>]



     <fieldset>
	<legend><:simplvote:configuration_generale:></legend>
	
		<ul>
       	[(#SAISIE{oui_non,bouton_rafraichir,label=<:simplvote:bouton_rafraichir:>})]
        </ul>
	
	</fieldset>





		<p class="boutons"><input type="submit" class="submit btn--primary" name="_cfg_ok" value="<:simplvote:enregistrer:>" /></p>
</form>
	
</div>
